@import '../components/App.scss';

.liked__items-empty {
    @include font-primary;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-black-light;
    padding-top: 10rem;

    &-box {
        text-align: center;

    }

    &-span {
        @include font-secondary;
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-black-light;
        padding-top: 2rem;
    }

    &-btn {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
        background-color: $color-green;
        color: $color-white;
        letter-spacing: .15rem;
        // padding: 1.4rem 3.5rem;
        height: 4rem;
        padding: .5rem 3.5rem;
        border: none;
        border-radius: .2rem;
        margin-top: 5rem;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: #006637;
        }
    }
}