$color-white: #ffffff;
$color-black: #000000;
$color-green: #018849;
$color-grey: #EEEEEE;
$color-grey-light: #666666;
$color-grey-dark: #2D2D2D;
$color-black-light: #2E3032;
$color-red: #d01345;
$color-background: #F5EBDD;
$color-tertiary: #BCB8B1;


@mixin font-primary {
  font-family: 'Geomanist', sans-serif;
}

@mixin font-secondary {
  font-family: 'DM Sans', sans-serif;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  // padding-left: 4rem;
  // padding-right: 4rem;
}


main {
  display: grid;
  grid-template-rows: 85vh auto auto;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 140px) [col-end]) [center-end] 1fr [full-end];
}

@media (max-width: 850px) {
  main {
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 479px) {
  main {
    grid-template-columns: [full-start] 2rem [center-start] repeat(8, [col-start] minmax(min-content, 140px) [col-end]) [center-end] 2rem [full-end];
  }
  
}


a {
  text-decoration: none;
}




