@import './App.scss';

.categories {
    grid-column: full-start / full-end;
    background-color: $color-background;
    padding-top: 18vh;
    padding-left: 9rem;
    padding-right: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18vh;

    &__box {
        display: flex;
        gap: 3rem;

    }

    &__heading-box {
        // align-self: flex-start;
        background-color: $color-black;
        color: $color-white;
        padding: 1.2rem 2.5rem;
        border: none;
        border-radius: .2rem;
        margin-bottom: 3rem;
    }

    &__heading {
        @include font-primary;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__category {
        width: 25rem;
        padding: 2rem;
        border: none;
        border-radius: .3rem;
        background-color: $color-white;
        transition: all, .2s ease;

        &:hover {
            box-shadow: 0 .1rem 1.5rem 0 rgba(29, 48, 59, 0.171);
            transform: scale(1.05);
        }

        &-img {
            width: 100%;
        }

        &-heading {
            @include font-primary;
            font-size: 2.5rem;
            color: $color-black;
            text-align: center;
            padding: 1rem 0;
        }

        &-text {
            @include font-secondary;
            font-size: 1.6rem;
            color: $color-tertiary;
            text-align: center;
        }
    }

}